*{
    
    margin:0;
    padding:0;
}

body {
    
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 17px;
    line-height: 1.6;
    text-align: center;
}
a {
    position: fixed;
    top: 0;
}
a img {
    width: 34px;
}

#fullscreen{
    
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3744450/man.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

#fullscreen h1{
    
    font-size: 50px;
    position: absolute;
    top: 270px;
    left: 500px;
    font-weight: 200;
    color:aquamarine;
}

#particles-js {
    
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3744450/man.jpeg');
    background-size: cover;
    background-position: center;
    
}

#particles-js h1{
    
    font-size: 50px;
    position: absolute;
    top: 270px;
    left: 500px;
    font-weight: 200;
    color:aquamarine;
}

